@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: Norse;
    src: url("Norse-Bold.otf");
}

:root {
    --color-accent: #596D48;
    --color-background: #f9fafb;
    --color-light: #fff;
    --color-logo-background: rgba(0, 0, 0, 0.4);
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-error: #da8888;

    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.left {
    display: flex;
    flex-direction: column;
    width: 37vw;
    height: 100vh;
    background-position: right;
    background-image: url("photo-1656376406338-cbd4b462bbe1.avif");
}

.right {
    background-color: var(--color-background);
    width: 63vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.logo-text {
    font-family: Norse;
    align-self: center;
    color: var(--color-light);
    font-size: 80px;
    margin: 0;
}

.logo-image {
    width: 100px;
}

.logo-container {
    padding: 20px 0;
    background-color: var(--color-logo-background);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 0 auto;
}

.left-filler {
    padding-top: 25vh;
    display: flex;
    flex-grow: 1;
}

.light-text {
    text-align: center;
    color: var(--color-light);
}

p {
    width: 100%;
    font-size: 19px;
    font-weight: 600;
}
p.notification {
    padding-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

.image-credits {
    font-size: 12px;
    font-weight: 300;
}

label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
}

.instruction-container {
    width: 70%;
    padding: 30px 50px;
}

.form-shadowbox {
    background-color: var(--color-light);
    box-shadow: 0 4px 5px 1px var(--color-shadow);
}

.form-container {
    padding: 0 50px 30px 50px;
    display: flex;
    gap: 20px 50px;
    flex-wrap: wrap;
    width: 70%;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 40%;
}

button {
    background-color: var(--color-accent);
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    font-size: larger;
    box-shadow: 2px 4px 5px 1px var(--color-shadow);
}

a,
a:visited {
    text-decoration: none;
    color: var(--color-accent);
}

.light-link,
.light-link:hover,
.light-link:visited {
    font-size: 12px;
    text-decoration: underline;
    color: var(--color-light);
}

input {
    border-radius: 5px;
    padding: 5px;
    outline-width: 1px;
    border: 1px solid var(--color-shadow);
}

input:focus {
    outline-color: skyblue;
}

input[type="password"].error {
    outline-color: var(--color-error);
    border: 2px solid var(--color-error);
}
label.error {
    color: var(--color-error);
    letter-spacing: 0;
    font-size: 10px;
    text-transform: none;
    font-weight: 600;
}